


  
 
 body{
     background-image: url("paper.jpg");
     background-repeat: no-repeat;
     background-size:cover;
     background-attachment: fixed;
     background-position: center  center;
     
      
 }

 #first{
    margin-top: 50px;
     
    
    width: 100%;
 }
 
 a{
  
    transition:0.4s;
    
 }
 
 a:hover{
    text-decoration: none;
     
}

#one, #two, #three{
    width: 100%;
    height: 40px;
    transition:0.4s;
    background-color: rgb(0, 0, 0);
    opacity:20%;
   
   text-align: center;
   line-height: 35px;
   color:white;
   border-radius: 4px;
}




#one:hover, #two:hover, #three:hover{
    color:white;
    background-color: transparent;
    opacity:100%;
} 


 
#second{
    
    text-align:center;
    
    margin-top:15%;
}






  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #second{
        
       
        
        margin-top:15%;
    }
    #one, #two, #three{
        width:120%;
    }
   
  }

 
 
#five{
   
    border:none;
    background-color: rgb(0, 0, 0);
    opacity:20%;
    width: 250px;
    height:65px;
    
}

#five:hover{
    
    color:white;
    background-color: black;
    opacity:60%;
    transition: 0.4s;
     
}

.fade-in {
    animation: fadeIn ease 1s;
    
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }