body{
    background-image: url("paper.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center  center;
}

#first{
   margin-top: 50px;
    margin-bottom: 50px;
   width: 100%;
}
 
.container{
   display:none;
}

a{
   transition:0.4s;
}

a:hover{
   text-decoration: none;
    
}
.btn-primary{
   background-color: transparent;
   opacity:20% !important;
   transition:0.4s !important;
   border:none;
}
.btn-primary:hover{
   opacity: 100% !important;
   background-color:black;
}
 
#one, #two, #three{
   text-align: center ;
   line-height: 35px;
   border-radius: 4px;
   width: 100%;
   height: 40px;
   transition:0.4s;
   background-color: rgb(0, 0, 0);
   opacity:20%;
  margin-right:20px;
  color:white;
  
}

#one:hover, #two:hover, #three:hover{
   color:white;
   background-color: transparent;
   opacity:100%;
} 

.card{
   opacity:40%  ;
   transition:0.4s;
   
}

.card:hover{
   opacity:100%;
}


#sfw{
   margin-top:54px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
  
  #one,#two,#three{
      width:130%;
  }
    
    .card{
        max-width:100% !important;
        height:auto !important;
        margin-bottom: 10px !important;
        left:15%;
    }


    
}  